/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #0047ab;
  --secondary-color: #008000;
  --text-color: #333333;
  --background-color: #f5f5f5;
  --h1-color: red;
}

/* Heading styles */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* Paragraph styles */
p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero article {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.hero {
  background-image: url("./images/Raft-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(118, 118, 118, 0.7);
  padding: 14px;
}

.hero h1 {
  position: absolute;
  top: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--h1-color);
  font: ;
  -webkit-text-stroke: 0.5px white;
}

.hero article {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.hero article img {
  display: block;
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
  float: right;
  margin: auto;
  border-radius: 6px;
  box-shadow: 2px 2px 1px rgba(118, 118, 118, 0.7);
}

.hero article {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  opacity: 0.9;
}

.adventure {
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(118, 118, 118, 0.7);
}
