@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&family=Russo+One&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 10px;
}

:root {
  /* Colors */
  --primary-color: #1a2628;
  --secondary-color: #598381;
  --accent1-color: #f0f0f0;
  --accent2-color: #166160;

  /* Fonts */
  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;

  --nav-background-color: #fff2f1;
  --nav-link-color: #b1b376;
  --nav-hover-link-color: #4e4f1d;
  --nav-hover-background-color: #ddddd7;
}

body {
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid goldenrod;
  text-align: center;
}
