@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&family=Russo+One&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 10px;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid goldenrod;
  text-align: center;
}

:root {
  /* Colors */
  --primary-color: #009fb7;
  --secondary-color: #598381;
  --accent1-color: #a3abab;
  --accent2-color: #166160;

  /* Fonts */
  --heading-font: "Roboto", sans-serif;
  --body-font: "Open Sans", sans-serif;
}
